<footer class="footer bg-light">
    <div class="container">
        <div class="row p20">
            <div class="col-md-4 text-center">
                <strong>Follow us:</strong>
                {{ partial "socials.html" . }}
                <p>
                    <a target="_blank" href="https://www.linkedin.com/in/lucalanziani/" class="link-dark">Luca on
                        LinkedIn</a>
                    <br> <a target="_blank" href="https://www.linkedin.com/in/danklose/" class="link-dark">Dan on
                        Linkedin</a>
                    <br> <a target="_blank" href="http://discordapp.com/users/470675822106378241" class="link-dark">Dan
                        on Discord</a>
                    <br> <a target="_blank" href="/index.xml" class="link-dark">Rss Feed</a>
                </p>
            </div>
            <div class="col-md-4 text-center mt25">
                {{ with .Site.Params.sponsoredBy }}
                <strong>Sponsored by:</strong> <br> <a target="_blank" href="{{.href}}">{{.name}}</a>
                {{ end }}
            </div>
            {{ with .Site.Params.copyright }}
            <div class="col-md-4 text-center mt25">&copy; {{ now.Year }} <a target="_blank" href="{{ .link }}">{{
                    .name }}</a>.<br /> All rights reserved. </div>
            {{ end }}
        </div>
</footer>